#canvas1 {
    width: 172;
    height: 133;
    border: 1px solid black;
    zoom: 300%
}

body {
    display:grid;
    place-items: center;
    min-height: 90vh;
}

#score {
    position: absolute;
    top: 80vh;
    left: 50vh;
}

#timer {
    position: absolute;
    top: 230vh;
    left: 880vh;
}
