/* @font-face {
    font-family: 'silkScreen';
    src: url("../fonts/silkscreen_normal_macroman/slkscr-webfont.woff") format("woff");
}

* {
    font-family: 'silkScreen';
    font-size: 35px;
} */


#canvas1 {
    width: 172;
    height: 133;
    border: 1px solid black;
    zoom: 300%
}

body {
    display:grid;
    place-items: center;
    min-height: 90vh;
}

#score {
    position: absolute;
    top: 24.3%;
    left: 61.8%;
}

#timer {
    position: absolute;
    top: 24.3%;
    left: 54%;
}
