@font-face {
    font-family: 'silkScreen';
    src: url("../font/silk.woff") format("woff");
}

* {
    font-family: 'silkScreen';
    font-size: 15px;
}

#canvas1 {
    width: 172;
    height: 133;
    zoom: 300%
}

body {
    display: flex;
    place-items: center;
    justify-content: center;
    min-height: 90vh;
    flex-direction: column;
    background: url('../images/backgroundhtml.png') center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#score {
    font-size: 20px;
}

#timer {
    font-size: 20px;
}

div {
    display: flex;
    gap: 1rem ;
}

#greet {
    display: block;
    position: absolute;
    border: thin solid black;
    padding: .2em;
    text-align: left;
    background-color: rgb(128, 56, 128);
    visibility: hidden;
    opacity: 0.7;
}

.instructions-modal {
    display: none;
    position: absolute;
    border: thin solid black;
    padding: .2em;
    text-align: left;
    background-color: rgb(128, 56, 128);
}

.top-instruct:hover .instructions-modal {
    display: block;
    place-items: center;
}

li {
    list-style-type: none;
}